@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$primary-color: #13CE66;
$error-color: #B41138;
$orders-bg: #CAEAD6;

$font-color: #8492A6;
$soft-grey: rgba($font-color, 0.25);
$dark-grey: #47525E;
$font-family: 'Roboto',
sans-serif,
'Arial';


$tablet: 960px;
$desktop: 1264px;