$primary-color: #000;
#inspire.guerta {
    header {
        background-color: #000 !important;
        .theme--light.v-btn.v-btn--icon {
            color: #FFF;
        }
    }
    .product .product-actions .product-add-to-cart {
        background-color: $primary-color;
        border-radius: 0px;
    }
    .products-tab .v-tabs>.v-tabs-bar .v-tab.v-tab--active {
        background-color: $primary-color;
    }
    .products-tab .v-tabs>.v-tabs-bar {
        border-bottom: 2px solid $primary-color;
    }
    #order-details {
        background-color: rgba($primary-color, 0.1);
        background-color: lighten($primary-color, 90%);
        #order-checkout {
            background-color: #5D009B;
            span {
                color: #FFF;
            }
            &.v-btn--disabled {
                opacity: 0.2;
            }
        }
    }
}